<div ng-controller="ConfigurationController">
    <div class="col-md-4">
        <div class="info-tile tile-blue tile-sidebar" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
            <div class="tile-heading"><span>Static view</span></div>
            <div class="tile-body">
                <ul class="list-graphs text-left">
                    <li>
                        <a href="" ng-click="changeGraphType($event,'column')" ng-class="{active : chartConfig.options.chart.type == 'column'}"><i class="ti ti-custom-bar-chart graph-column"></i></a>
                    </li>
                    <li>
                        <a href="" ng-click="changeGraphType($event,'line')" ng-class="{active : chartConfig.options.chart.type == 'line'}"><i class="ti ti-custom-bar-chart graph-area"></i></a>
                    </li>
                    <li>
                        <a href="" ng-click="changeGraphType($event,'pie')" ng-class="{active : chartConfig.options.chart.type == 'pie'}"><i class="ti ti-custom-bar-chart graph-pie"></i></a>
                    </li>
                    <li>
                        <a href="" ng-click="changeGraphType($event,'scatter')" ng-class="{active : chartConfig.options.chart.type == 'scatter'}"><i class="ti ti-custom-bar-chart graph-scatter"></i></a>
                    </li>
                    <li>
                        <a href="" ng-click="changeGraphType($event,'boxplot')" ng-class="{active : chartConfig.options.chart.type == 'boxplot'}"><i class="ti ti-custom-bar-chart graph-plot"></i></a>
                    </li>
                </ul>
            </div>

            <div class="tile-heading"><span>Show</span></div>
            <div class="tile-body">
                <ul class="list-axe">
                    <li>
                        AXE X
                        <ul>
                            <li ng-repeat="xAxe in dataset.header">
                                <a href="" ng-click="changeXaxis(xAxe)" ng-class="{true:'active', false:'', undefined:''}[chartConfig.xAxis.code == xAxe]">
                                    <span>{{xAxe}}</span>
                                    <i class="ti ti-check"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        AXE Y
                        <ul>
                            <li ng-repeat="yAxe in dataset.header">
                                <a href="" ng-click="enableYAxe($event,yAxe)" ng-class="{true:'active', false:'', undefined:''}[getSeriesByCode(yAxe) !== undefined]">
                                    <span>{{yAxe}}</span>
                                    <i class="ti ti-check"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="tile-heading"><span>Colors</span></div>
            <div class="tile-body">
                <ul class="list-colors">
                    <li>
                        <a href="" ng-click="changeColor('blue',$event)" style="background-color: #00bcd4" class="active"></a>
                    </li>
                    <li>
                        <a href="" ng-click="changeColor('green',$event)" style="background-color: #8bc34a"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
