<div>
    <div>
        <table style="border-color: #000000; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
            <thead>
            <tr style="background-color: #cccccc;">
                <th>#</th>
                <th ng-repeat="header in dataset.header">{{header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(indexData,result) in dataset.data[dataset.header[0]] track by indexData">
                <td>{{indexData+1}}</td>
                <td ng-repeat="(indexHeader,header) in dataset.header">{{dataset.data[header][indexData]}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <img class="btn-draggable" ng-src="{{chartUrl}}" width="240px" height="240px" alt="{{chartTitle}}"/>
</div>