<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">${connection.driver_class}</property>
        <property name="connection.url">${connection.url}</property>
        <property name="connection.username">${connection.username}</property>
        <property name="connection.password">${connection.password}</property>
        <property name="hibernate.format_sql">true</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.dialect">${hibernate.dialect}</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.hbp.mip.model.Article"/>
        <mapping class="org.hbp.mip.model.Dataset"/>
        <mapping class="org.hbp.mip.model.Model"/>
        <mapping class="org.hbp.mip.model.Experiment"/>
        <mapping class="org.hbp.mip.model.Query"/>
        <mapping class="org.hbp.mip.model.Tag"/>
        <mapping class="org.hbp.mip.model.User"/>
        <mapping class="org.hbp.mip.model.Value"/>
        <mapping class="org.hbp.mip.model.Variable"/>
        <mapping class="org.hbp.mip.model.Filter"/>
        <mapping class="org.hbp.mip.model.Group"/>
        <mapping class="org.hbp.mip.model.Config"/>
        <mapping class="org.hbp.mip.model.App"/>
        <mapping class="org.hbp.mip.model.Vote"/>

    </session-factory>
</hibernate-configuration>
