<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://portaldb:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">test</property>
        <property name="hibernate.format_sql">true</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.hbp.mip.model.Article"/>
        <mapping class="org.hbp.mip.model.Chart"/>
        <mapping class="org.hbp.mip.model.ChartConfigSet"/>
        <mapping class="org.hbp.mip.model.Dataset"/>
        <mapping class="org.hbp.mip.model.Model"/>
        <mapping class="org.hbp.mip.model.Query"/>
        <mapping class="org.hbp.mip.model.Tag"/>
        <mapping class="org.hbp.mip.model.User"/>
        <mapping class="org.hbp.mip.model.Value"/>
        <mapping class="org.hbp.mip.model.Variable"/>
        <mapping class="org.hbp.mip.model.Filter"/>
        <mapping class="org.hbp.mip.model.Group"/>

    </session-factory>
</hibernate-configuration>
