<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.hbp.mip.model.Article"/>
        <mapping class="org.hbp.mip.model.Dataset"/>
        <mapping class="org.hbp.mip.model.Model"/>
        <mapping class="org.hbp.mip.model.Experiment"/>
        <mapping class="org.hbp.mip.model.Query"/>
        <mapping class="org.hbp.mip.model.Tag"/>
        <mapping class="org.hbp.mip.model.User"/>
        <mapping class="org.hbp.mip.model.Value"/>
        <mapping class="org.hbp.mip.model.Variable"/>
        <mapping class="org.hbp.mip.model.Filter"/>
        <mapping class="org.hbp.mip.model.Group"/>
        <mapping class="org.hbp.mip.model.Config"/>
        <mapping class="org.hbp.mip.model.App"/>
        <mapping class="org.hbp.mip.model.Vote"/>
    </session-factory>
</hibernate-configuration>
