<div class="mt-xxxl" ng-controller="ChartController">
    <section class="configurator-container">
    <div class="container-fluid container-small search-help-container ng-scope">

        <div class="block-intro">
            <div class="block-wrapper">
                <div class="block-col col-1">
                    <h2>What's</h2>
                    <ul>
                        <li>about this label ?</li>
                        <li style=" padding: 0 10px; font-size: 16px; ">
                            <i class="ti ti-arrow-right" style=""></i>
                        </li>
                    </ul>
                </div>
                <div class="block-col col-2">
                    <img src="images/help-search-info-box.png" alt="">
                </div>
                <div class="block-col col-3">
                    <p><b>Lorem ipsum dolor sit amet</b>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                </div>
            </div>
        </div>
        <a class="trigger-intro">
            <i class="ti ti-arrow-down"></i>
        </a>
        <div class="block-content row">
            <div class="col-md-6">
                <h3>Matière grise :</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <h3>Matière grise :</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-6">
                <h3>Matière grise :</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <h3>Matière grise :</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid search-result ng-scope">
    <div class="row">
    <div class="col-md-8">
        <div class="panel  panel-charts">
            <div class="panel-heading">
                <h2>{{chartConfig.title.text}}</h2>
            </div>
            <div class="panel-body panel-charts-graph" style="height: 520px;">
                <div class="panel-body-graph" data-graph-type="column" >
                    <highchart config="chartConfig"></highchart>
                </div>
            </div>
            <div class="panel-body panel-data-graph" style="height:520px;overflow-y:scroll;">
                <table class="table m-n">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th ng-repeat="header in dataset.header | limitTo: maxCol">{{header}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(indexData,result) in dataset.data[dataset.header[0]] | limitTo: maxRow as limited_result track by indexData ">
                            <td>{{indexData+1}}</td>
                            <td ng-repeat="(indexHeader,header) in dataset.header | limitTo: maxCol">{{dataset.data[header][indexData]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <rounded-button ng-if="hiddenData" label="{{'common.button.more' | translate}}" icon-class="ti ti-arrow-up" on-click="showTable()"></rounded-button>
            <rounded-button ng-if="!hiddenData" label="{{'common.button.close' | translate}}" icon-class="ti ti-arrow-down" on-click="closeTable()"></rounded-button>
        </div>
    </div>
        <div ng-include="'scripts/app/models/configuration/model-configuration.html'"></div>
    </div>
    </div>
    </section>
</div>
