.full-width{
    width: 100%;
}

.select2-container .select2-choice {
    background-image: none;
}

.article-modal{
    z-index: 1250;
}

.mt-xxxl {
  margin-top: 60px;
}

.toolbar-container {
  z-index: 1000;
}

h6.copyright {
  background: url("../../images/logo_chuv.png") no-repeat left center;
  text-indent: 70px;
  margin: 0;
}

.list-graphs li a .ti.ti-custom-bar-chart.graph-plot {
  background: url("../../images/pictos-graph-2.png") -248px 0;
}

.panelLeft {
	width: 60%;
	float: left;
	text-align:center;
	border-radius: 25px;
	padding: 20px;
}

.panelRight {
	width: 40%;
	float: left;
	text-align:center;
	border-radius: 25px;
	padding: 20px;
}

.panelCenter {
  text-align:center;
}

.panelTop {
  width: 60%;
  margin: auto;
  text-align: justify;
}

.centeredTitle {
  text-align:center;
}

#stackImg {
    width: 100%;
    border-radius: 25px;
    padding: 20px;
}
