<div class="panel">

  <div class="panel-heading">
    <h2>Configuration</h2>
  </div>

  <div class="panel-body container-ee-search" ng-class="has_configuration() ? '' : 'closed'">
    <div class="row" style="margin: -16px">

      <div class="col-xs-3 form-conf variable">
        <h3>Variable</h3>
        <div ng-repeat="(code, variable) in configuration.variable"  class="text-nowrap overflow-hidden">
          <a ng-click="setVariableSelectedAs('variable', variable)" class="btn btn-default btn-xs"><i class="ti ti-close"></i></a>
          <a ng-bind="variable.label" ng-click="setFocusedVariable(variable)"></a>
        </div>
      </div>

      <div class="col-xs-3 form-conf grouping">
        <h3>Grouping</h3>

        <div ng-repeat="(code, variable) in configuration.grouping" class="text-nowrap overflow-hidden">
          <a ng-click="setVariableSelectedAs('grouping', variable)" class="btn btn-default btn-xs"><i class="ti ti-close"></i></a>
          <a ng-bind="variable.label" ng-click="setFocusedVariable(variable)"></a>
        </div>
      </div>

      <div class="col-xs-3 form-conf covariable">
        <h3>Covariable</h3>
        <div ng-repeat="(code, variable) in configuration.covariable"  class="text-nowrap overflow-hidden">
          <a ng-click="setVariableSelectedAs('covariable', variable)" class="btn btn-default btn-xs"><i class="ti ti-close"></i></a>
          <a ng-bind="variable.label" ng-click="setFocusedVariable(variable)"></a>
        </div>
      </div>

      <div class="col-xs-3 form-conf filter">
        <h3>Filters</h3>
        <div ng-repeat="(code, variable) in configuration.filter" class="text-nowrap overflow-hidden">
          <a ng-click="setVariableSelectedAs('filter', variable)" class="btn btn-default btn-xs"><i class="ti ti-close"></i></a>
          <a ng-bind="variable.label" ng-click="setFocusedVariable(variable)"></a>
        </div>
      </div>
    </div>

  </div>
</div>
